
.vs/slnx.sqlite
.vs/slnx.sqlite
fun stuff/cpp/.vs/cpp/v17/Browse.VC.db
fun stuff/cpp/.vs/cpp/v17/Browse.VC.db-shm
fun stuff/cpp/.vs/cpp/v17/Browse.VC.db-wal
fun stuff/cpp/.vs/cpp/v17/Browse.VC.opendb
fun stuff/cpp/.vs/slnx.sqlite
fun stuff/cpp/.vs/ProjectSettings.json
